<header class="main-header">
	<!-- Logo -->
	<a href="${path}/index.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>${(systemSubName)!'AD'}</b></span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>${(systemName)!'AdminLTE-admin'}</b></span>
	</a>

	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="${path}${(me.userImg)!}" class="user-image"
						alt="${(me.userName)!'游客'}"> <span class="hidden-xs">${(me.userName)!'游客'}</span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img src="${path}${(me.userImg)!}"
							class="img-circle" >
							<p>${(systemName)!'AdminLTE-admin'}  欢迎您 ${(me.userName)!'游客'}</small>
							</p></li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="${path}/system/me/info" class="btn btn-default btn-flat">个人信息</a>
							</div>
							<div class="pull-right">
								<a href="${path}/logout" class="btn btn-default btn-flat">退出</a>
							</div>
						</li>
					</ul></li>
				<!-- Control Sidebar Toggle Button -->
				<li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</div>
	</nav>
</header>